body {
    font-size: 100%;
   background-image: url(images/annie-spratt-wseixWvrsD4-unsplash.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
h1{
    text-shadow: 2px 2px 4px #0d6efd;
}

/* error and spinner part */
.displayErrorMsg{
    display: none;
    color: brown;
}

#spinner{
    display: none;
}

/* book details  */
.booksDiv{
   width: 65%;

}
.divDisplay{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;  
    padding: 20px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

